<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WBoxSqlAccountingForDD.Properties.Settings.wBoxConnectionString"
            connectionString="Data Source=10.1.1.152\WBOXSERVER\SQLEXPRESS,1433;Initial Catalog=wBox;User ID=posuser;Password=MTS@pass98"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>